@model IEnumerable<TimeApp.Models.Time>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .transparent_rgba {
        text-decoration: none;
        margin-bottom: 30px;
        color: black;
        float: right;
        border: none;
        background-color: snow;
        font-size: 15px;
    }

    h1 {
        text-decoration: none;
        text-align: center;
        font-size: 35px;
        margin-bottom: 50px;
        color: snow;
        margin-top: -50px;
    }
</style>

<h1 class="title_of_user">Times</h1>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Password)
                </td>
            </tr>
        }
    </tbody>
</table>



@section scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });


    </script> }
