@model IEnumerable<TimeApp.Models.Time>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title_of_user">Users</h1>

<p>
    <a asp-action="Create"></a>
</p>
<table  id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Password)
            </td>
        </tr>
}
    </tbody>
</table>



@section scripts{
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

 
</script> }
