@model TimeApp.Models.Interview

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>



    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Interviews</title>
    

    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Timer.css" />



    
   
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <style>
        .preloader {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #0E1E2F;
            z-index: 9999;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .preloader img {
                max-width: 500px;
            }

        body, html {
            padding: 0 !important;
            margin: 0 !important;
            background: #000;
        
        }
    </style>

</head>

<body style="color: snow;" id="clouds">
    <div class="preloader">
        <img src="~/img/preloader.gif" alt="preloader" class="img-fluid" />
    </div>


    <section id="hero">
        <header id="header" class="fixed-top ">
            <div class="container d-flex align-items-center">

                <a class="navbar-brand p-0" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logotimeapp.png" style="width: 100px" />
                </a>
                <nav id="navbar" class="navbar">
                    <ul>
                         <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Agent" target="_blank" asp-controller="Times" asp-action="Create">Times</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="Agent" asp-controller="Interviews" asp-action="Create">Interviews</a>
                        </li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>

            </div>
        </header><!-- End Header -->


        <section id="hero" class="d-flex align-items-center">

            <div class="container">
                <div class="row">
                    <div class="col-lg-8 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                        <h1>Keep track of your work, with TimeApp</h1>
                        <h2>Click the button below to measure the interview session</h2>
                        <div class="d-flex justify-content-center justify-content-lg-start flex-column">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Interviews" class="control-label">Click and increase with arrows</label>
                                    <input asp-for="Interviews" placeholder="0" style="border-radius: 50%; justify-content: center; text-align: center; width: 100px; height: 100px; font-family: 'Times New Roman', Times, serif; font-size: 20px;" min="0" class="form-control" />
                                    <span asp-validation-for="Interviews" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="User_Id" class="control-label"></label>
                                    <select asp-for="User_Id" class="form-control" asp-items="ViewBag.User_Id"></select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                        <img src="~/Images/timeappicon.webp" class="img-fluid animated" alt="">
                    </div>
                </div>
                <br>
                <br>
            </div>

            <br>
            <br>
            <br>

            <br>

            <br>
        </section><!-- End Hero -->

    </section><!-- End Hero -->
 

   
    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>
    <script src="~/js/Timer.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.waves.min.js"></script>



    <script>
        VANTA.WAVES({
            el: "#clouds",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00
        })


        window.onload = function() {
            console.log('onload');
            if (@Convert.ToInt16(ViewBag.hasStarted)) {
                console.log('has Started');
                startTimer(@ViewBag.Timer);
            } else {
                console.log('not started');
                stopTimer()
            }
        };

        $(window).on('load', function () {
            $('.preloader').fadeOut(1000);
        });



    </script>


    <main id="main">

        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients section-bg">
            <div class="container">

                <div class="row" data-aos="zoom-in">

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/Images/bambus.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/Images/flutura.academy.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/Images/initova.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/Images/taktika.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/Images/treedev.webp" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/Images/yoloway.png" class="img-fluid" alt="">
                    </div>

                </div>

            </div>
        </section>
    </main>

</body>

</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



