@model TimeApp.Models.User

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<!DOCTYPE html>
<html>

<head> 
    <style>
        .form-control {
            border-radius: 0px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }
        .control-label{
            font-size: 20px;
            color: snow;
        }
    </style>
</head>

<body>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>

            <input placeholder="Username" asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">

            <label asp-for="Password" class="control-label"></label>
            <input placeholder="Password" type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Role" class="control-label"></label>
            <select  asp-for="Role_Id" class="form-control"  asp-items="ViewBag.Role_Id">
                <option>Zgjedhe Rolin</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Language" class="control-label"></label>
            <select asp-for="Language_Id" class="form-control" asp-items="ViewBag.Language_Id">
                <option>Zgjedhe Gjuhen</option>

            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>

</body>

</html>



