@model TimeApp.Models.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .edit_user {
        text-align: center;
        font-size: 40px;
        margin-bottom: 70px;
        color: snow;
        margin-top: -50px;
    }

    /*.form-control {
        color: white;
    }*/

    .control-label {
        color: white;
    }
</style>


<h4 class="edit_user">Edit User</h4>


<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </form>
    </div>


    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role_Id" class="form-control" asp-items="ViewBag.Role_Id"></select>
                <span asp-validation-for="Role_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <select asp-for="Language_Id" class="form-control" asp-items="ViewBag.Language_Id"></select>
                <span asp-validation-for="Language_Id" class="text-danger"></span>
            </div>

        </form>
    </div>
</div>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
