<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <link rel="icon" type="image/x-icon" href="~/Images/logotimeapp.png">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TimeApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/css/Tempate.css" />
    <link href="~/plugins/font-awesome/font-awesome.min.css" rel="stylesheet" />
</head>
<style>



    #google_translate_element select {
        border-radius: 19px;
        font-family: Arial;
        padding: 8px;
        border: none;
        border: 1px solid;
        border-color: cyan;
    }


    #google_translate_element span {
        visibility: hidden;
    }

    .google_translate_element {
        display: none !important;
    }

        .google_translate_element:hover {
            display: none !important;
        }

    .google_translate_element-highlight {
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }

    body {
        top: 0px !important;
    }

    .goog-te-banner-frame.skiptranslate, .goog-te-gadget-simple img {
        display: none !important;
    }

    .goog-tooltip {
        display: none !important;
    }

        .goog-tooltip:hover {
            display: none !important;
        }

    .goog-text-highlight {
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }

    body {
        top: 0px !important;
    }

    #targetLanguage {
        visibility: hidden;
    }
</style>

<body id="vantaWaves">
    <div class="preloader">
        <img src="~/img/preloader.gif" alt="preloader" class="img-fluid" />
    </div>


    <div class="naviagtion fixed-top transition">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <a class="navbar-brand p-0" asp-area="" asp-controller="Home">
                    <img src="~/img/logotimeapp.png" style="width: 100px" />
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navigation"
                        aria-controls="navigation"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white text-capitalize" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link text-white text-capitalize" asp-area="Admin" asp-controller="User" asp-action="Index">User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-capitalize" asp-area="Agent" asp-controller="Interviews" asp-action="Index">Interview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-capitalize" asp-area="Agent" asp-controller="Times" asp-action="Index">Time</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-capitalize" asp-area="Admin" asp-controller="Languages" asp-action="Index">Languages </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-capitalize" asp-area="Agent" asp-controller="Times" asp-action="Create">Agent</a>
                        </li>

                        <li class="nav-item">
                            <div style="margin-top: 14px;" id="google_translate_element"></div>

                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <section class="page-title bg-cover overflow-hidden backgroundStyle">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="container-fluid" style="padding-left: -15px !important; padding-right: -15px !important;">
                        <main role="main" class="pb-3">
                            <partial name="_Notification" />
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-secondary pt-lg-5">
        <section class="section border-bottom border-color">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-5 mb-4 mb-md-0">
                        <img src="~/img/logotimeapp.png" style="width: 286px !important; height: 196px !important;" class="mb-4" alt="agico" />
                        <p class="text-light mb-4">
                            Lorem ipsum dolor amet consectetur adipisicing elit sed eiusm
                            tempor incididunt ut labore dolore magna aliqua enim ad minim
                            veniam quis nostrud exercitation ullamaboris nisi ut
                            aliquip.exea commodo consequat. Duis aute irure dolor in
                            reprehenderit.
                        </p>
                        <ul class="list-inline social-icons">
                            <li class="list-inline-item">
                                <a>
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a>
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a>
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a>
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4 class="text-white mb-4">Services</h4>
                        <ul class="list-styled list-hover-underline">
                            <li class="mb-3 text-light">
                                <a class="text-light">Company History</a>
                            </li>
                            <li class="mb-3 text-light">
                                <a class="text-light">About us</a>
                            </li>
                            <li class="mb-3 text-light">
                                <a class="text-light">Contact us</a>
                            </li>
                            <li class="mb-3 text-light">
                                <a class="text-light">Services</a>
                            </li>
                            <li class="mb-3 text-light">
                                <a class="text-light">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <h4 class="text-white mb-4">Contact Info</h4>
                        <p class="text-light">
                            <i class="fa fa-location-arrow"></i>
                            9567 Turner Trace Apt. 466 North Willie, BC C3G8A4
                        </p>
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <a class="fa fa-android" style="font-size: 15px"></a><a class="text-light" href="tel:+211234565523">+21 123 456 5523</a>
                            </li>
                            <li class="mb-3">
                                <i class="fa fa-address-card" style="padding-right: 5px !important;"><a class="text-light">info@agico.com</a></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    <!-- jQuery -->
    <script src="~/plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick -->
    <script src="~/plugins/slick/slick.min.js"></script>
    <!-- venobox -->
    <script src="~/plugins/venobox/venobox.min.js"></script>
    <!-- Aos -->
    <script src="~/plugins/aos/aos.js"></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&amp;libraries=places"></script>
    <script src="~/plugins/google-map/gmap.js"></script>
    <!-- Main Script -->
    <script src="js/script.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="sweetalert2.all.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Template.js"></script>


    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                { pageLanguage: 'en' },
                'google_translate_element'
            );
        }

    </script>


</body>
</html>
