@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:white">Welcome to TimeApp</h1>

    <h2 style="color:white">About Us</h2>
    <p style="color: white">
        TimeApp was made for the core purpose of measuring the Work-Time of a call center agent, that  being
        said, it does not mean it cannot be used for other purposes that involve "Time-Management", the team of developers that created TimeApp are
        willingful to sell the Web-App to any needing organisation, TimeApp will make sure to not waste seconds in your
        Call-Center career of course that is if it is used properly. So waste no time! use TimeApp.
    </p>
</div>
